<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!--<base href="/">-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="leads">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand navbar-light bg-light"><a href="/" aria-label="Golden Goose"
        class="navbar-brand mr-0 mr-md-2"><img src="/images/golden-goose.svg" width="36" height="36"></a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
          <li class="nav-item"><a href="/leads" class="nav-link">Leads</a></li>
        </ul>
      </div>
      <div class="navbar-right">{{#if user}}
        <span class="navbar-text">Hello {{user.email}}!</span>{{/if}}</div>
      <div class="navbar-right">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a href="/signup" class="nav-link">Sign up</a></li>
          <li class="nav-item"><a href="/login" class="nav-link">Login</a></li>
          <li class="nav-item"><a href="/logout" class="nav-link">Logout</a></li>
        </ul>
      </div>
    </nav>
    <!-- TODO: Fix unsupported jade mixin -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12 offset-md-2 col-md-8">
          <div class="jumbotron">
            <h2 class="text-center">Login</h2>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-xs-12">
                <form action="/login" method="POST">
                  <div class="formgroup"><label class="small mb-1 mt-3">Email:</label><input
                      placeholder="Enter your email" required name="email" type="email" value="{{''}}"
                      class="form-control"><label class="small mb-1 mt-3">Password:</label><input
                      placeholder="Enter your current password" required name="password" type="password" value="{{''}}"
                      class="form-control"><button type="submit" class="mt-3 btn btn-primary">Log in</button>
                    <p class="mt-2 mb-0">Forgot your password? <a href="#">Reset here</a>.</p>
                    <p class="m-0">Don't have an account? <a href="/signup">Sign up here</a>.</p>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
  <!-- TODO: Fix unsupported jade mixin -->
</body>

</html>